/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background: 'url("../../assets/img/photogrid.jpg") center center repeat';
  background-size: "cover"
} */

.navbarSlider {
  background: url("../src/assets/img/photogrid.jpg") center center repeat;
  background-size: "cover"
}

.seeMore-img {
  background: url("../src/assets/img/fixed-background-2.jpg") center top no-repeat;
  background-size: "cover"
}
          